{% extends "layout.html" %}

{% block title %}
ExcellentReads
{% endblock %}

{% block body %}
<h1>Password reset page</h1>
<div>
  <p>If you are a registered user insert your email address. We will send a link to reset your password.</p>
</div>

<form class="form-horizontal" action="{{ url_for('check_reset') }}" method="post">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email_reset_pwd" placeholder="Enter email">
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Reset password</button>
</form>
<br>

{% endblock %}
